@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Serif";
  color: rgb(66, 43, 43);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #e25e20;
}
.navbar h1 {
  color: #1605a8;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.interview-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.interview-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.interview-preview h2 {
  font-size: 20px;
  color: #1605a8;
  margin-bottom: 8px;
}

.red-btn {
  color: white;
  background-color: #1605a8;
  border-radius: 6px;
}
.red-btn2 {
  color: white;
  background-color: #1605a8;
  border-radius: 6px;
}

.green-btn {
  color: white;
  background-color: #04520e;
  border-radius: 6px;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
}

.blue-btn {
  color: white;
  background-color: #1605a8;
  border-radius: 6px;
}

.create {
  max-width: 700px;
  margin: 0 auto;
}
.create label {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 15px;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1605a8;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #1605a8;
  margin-top: 20px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
